{% macro input(id, type="text", placeholder="", width="tw-w-full", value="", text_size="tw-text-sm") %}
<input
  id="{{ id }}"
  type="{{ type }}"
  placeholder="{{ placeholder }}"
  {% if value not in (none, "") %}value="{{ value }}"{% endif %}
  class="{{ width }} tw-bg-transparent tw-border-b tw-border-border tw-py-1 tw-px-2 {{ text_size }} tw-text-text-primary tw-placeholder-text-muted focus:tw-outline-none focus:tw-border-accent"
/>
{% endmacro %}
